
// Common colors

$button-color: #0071bc;
$white-color: #fff;
$dark-charcoal-color: #333;
$davy-grey-color: #555555;
$bleach-white-color: #eedfcc;
$navy-blue-color: #79b8f3;
$black-color: #000;
$whisper-color: #e9e9e9;
$gainsboro-color: #dfdfdf;
